<% provide(:title, '404 Not Found') %>
<div class="container static_pages">
  <div class="base">
    <div class="container contents_static_pages error">
      <section class="error_section">
        <div class="paragraph error">
          <h1>404 Not Found</h1>
          <span class="subtitle">アクセスしようとしたページが見つかりません。</span>
          <p>URLが間違っているか、ページが削除された可能性があります。<br>ご不便をおかけいたしますが、アドレスをご確認いただき再度アクセスを試みていただくか、下記のボタンより前の画面またはトップページにお戻りください。</p>
          <div class="wrapper">
            <%= link_to '前のページに戻る', :back, class: 'btn navy', method: :get %>
            <%= link_to 'トップページへ', root_path, class: 'btn red', method: :get %>
          </div>
        </div>
      </section>
      <%= render template: "static_pages/background" %>
    </div>
  </div>
</div>
