<% provide(:title, 'The Trip Tipについて') %>
<div class="container static_pages">
  <div class="base">
    <div class="container circles">
      <section class="static_pages_section about">
        <div class="paragraph p1">
          <p class="heading_about">
            <%= image_tag 'logo_header.svg', alt: 'The Trip Tipのロゴ' %>とは</p>
          <p class="text_about">
            The Trip Tipは、旅行の思い出を記録に残し、それを他のユーザーと共有することが出来るSNSです。</p>
        </div>
        <div class="paragraph p2">
          <p class="text_about">
            使い方は他のSNSと同様に直感的です。</p>
          <p class="text_about">
            まずは、ご自身のこれまでの旅行に関するどんな些細な情報でも構いませんので、つぶやきを投稿してみてください。</p>
          <p class="text_about">
            もちろんこれからの旅行に関すことでも、ご自身の旅行ハックに関することでも何でも大歓迎です。</p>
        </div>
        <div class="paragraph p3">
          <p class="text_about">
            つぶやかれた投稿は、他のユーザーにも共有されます。他のユーザーがあなたの投稿を気に入れば「いいね」をもらえます。同じように、あなたも気に入った他のユーザーの投稿があれば「いいね」してあげましょう。</p>
        </div>
        <div class="paragraph p4">
          <p class="text_about">
            またユーザーのプロフィール画面には、これまでの旅行の思い出を「旅行記」という形で残すことが出来ます。旅行記は一つの旅行単位で作成します。まずはプロフィール画面から「旅行記を作成する」ボタンをクリックしてください。その後任意の期間を設定し、期間中に訪れた国、地域などのスポットを地図上から検索してピン留めしましょう。</p>
          <p class="text_about">
            最後に旅行記にコメントを設定して完成です。</p>            
        </div>
        <div class="paragraph p5">
          <p class="text_about">
            使い方に慣れてきたら、たくさんのユーザーに共感してもらえるように、投稿に工夫を凝らしてみましょう。文面を工夫することはもちろん、投稿に旅行中の写真を添付してみるとより旅行の臨場感が高まります。是非活用してみてください。</p>
        </div>
        <div class="paragraph p6">
          <p class="text_about">
            それでは早速、上部のユーザー登録ボタンからあなたのアカウントを作成して、The Trip Tipライフをお楽しみください！</p>
        </div>        
        

      </section>
      <div class="circle circle-1st"></div>
      <div class="circle circle-2nd"></div>
      <div class="circle circle-3rd"></div>
      <div class="circle circle-4th"></div>
      <div class="circle circle-5th"></div>
      <div class="circle circle-6th"></div>
      <div class="circle circle-7th"></div>
      <div class="circle circle-8th"></div>
      <div class="circle circle-9th"></div>
      <div class="circle circle-10th"></div>
      <div class="circle circle-11th"></div>
      <div class="circle circle-12th"></div>
    </div>

  </div>

</div>
