<% provide(:title, 'The Trip Tipについて') %>
<div class="container static_pages">
  <div class="base">
    <div class="container circles">
      <div class="circle circle-1st"></div>
      <div class="circle circle-2nd"></div>
      <div class="circle circle-3rd"></div>
      <div class="circle circle-4th"></div>
      <div class="circle circle-5th"></div>
      <div class="circle circle-6th"></div>
      <div class="circle circle-7th"></div>
      <div class="circle circle-8th"></div>
      <div class="circle circle-9th"></div>
      <div class="circle circle-10th"></div>
      <div class="circle circle-11th"></div>
    </div>
  </div>
</div>
