<!DOCTYPE html>
<html lang=ja>
  <head>
    <title>The Trip Tipについて | The Trip Tip</title>
    <%= favicon_link_tag('favicon.ico') %>
  </head>
  <body>
    <h1>StaticPages#about</h1>
    <p>Find me in app/views/static_pages/about.html.erb</p>
  </body>
</html>
