<div class="container h-100vh">
  <h1 class="title_home container">
    <%= image_tag 'txt_title.svg', alt: 'The Trip Tipのサイトタイトル画像' %>
  </h1>
  <%= link_to user_twitter_omniauth_authorize_path, class: 'twitter-link' do %>
  ツイッターでログイン
  <% end %>
  <%= link_to user_facebook_omniauth_authorize_path, class: 'facebook-link' do %>
  Facebookでログイン
  <% end %>
</div>
