<% provide(:title, 'プライバシーポリシー') %>
<div class="container static_pages">
  <div class="base">
    <div class="container contents_static_pages">
      <div class="static_pages_section bylaw">
        <div class="paragraph">
          <p class="heading_bylaw">
            プライバシーポリシー</p>
          <p class="text_bylaw indent-1">
            本ウェブサイト上で提供するサービス（以下、「本サービス」といいます。）における、ユーザーの個人情報の取扱いについて、以下のとおりプライバシーポリシー（以下、「本ポリシー」といいます。）を定めます。</p>
          <div class="text_bylaw article">
            <span class="heading_article">
              第1条（個人情報）</span>
            <p class="article_text">
              「個人情報」とは、個人情報保護法にいう「個人情報」を指すものとし、生存する個人に関する情報であって、当該情報に含まれる氏名、生年月日、住所、電話番号、連絡先その他の記述等により特定の個人を識別できる情報及び容貌、指紋、声紋にかかるデータ、及び健康保険証の保険者番号などの当該情報単体から特定の個人を識別できる情報（個人識別情報）を指します。</p>
          </div>
          <div class="text_bylaw article">
            <span class="heading_article">
              第2条（個人情報の収集方法）</span>
            <p class="article_text">
              ユーザーが利用登録をする際に、メールアドレスをお尋ねすることがあります。</p>
          </div>
          <div class="text_bylaw article">
            <span class="heading_article">
              第3条（個人情報を収集・利用する目的）</span>
            <p class="article_text">
              個人情報を収集・利用する目的は、以下のとおりです。</p>
            <ol class="article_list">
              <li>
                当方サービスの提供・運営のため</li>
              <li>
                利用規約に違反したユーザーや、不正・不当な目的でサービスを利用しようとするユーザーの特定をし、ご利用をお断りするため</li>
              <li>
                ユーザーにご自身の登録情報の閲覧や変更、削除、ご利用状況の閲覧を行っていただくため</li>
              <li>
                上記の利用目的に付随する目的</li>
            </ol>
          </div>
          <div class="text_bylaw article">
            <span class="heading_article">
              第4条（個人情報の第三者提供）</span>
            <p class="article_text">
              第三者に個人情報を提供することはありません。</p>
          </div>
          <div class="text_bylaw article">
            <span class="heading_article">
              第5条（プライバシーポリシーの変更）</span>
            <ol class="article_list">
              <li>
                本ポリシーの内容は、法令その他本ポリシーに別段の定めのある事項を除いて、ユーザーに通知することなく、変更することができるものとします。</li>
              <li>
                変更後のプライバシーポリシーは、本ウェブサイトに掲載したときから効力を生じるものとします。</li>
            </ol>
          </div>
        </div>
      </div>
      <%= render template: "static_pages/background" %>
    </div>
  </div>
</div>
