<!DOCTYPE html>
<html lamg=ja>
  <head>
    <title>ユーザー登録 | The Trip Tip</title>
    <%= favicon_link_tag('favicon.ico') %>
  </head>
  <body>
    <h1>StaticPages#signup</h1>
    <p>Find me in app/views/static_pages/signup.html.erb</p>
  </body>
</html>
