<!DOCTYPE html>
<html lang=ja>
  <head>
    <title>アカウントのロック解除リクエスト | The Trip Tip</title>
    <%= favicon_link_tag('favicon.ico') %>
  </head>
  <body>
    <h1>StaticPages#unlock_user</h1>
    <p>Find me in app/views/static_pages/unlock_user.html.erb</p>
  </body>
</html>
