//home
h1.title_home {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@media screen and (max-width: 959px) {
  h1.title_home {
    position: fixed;
    top: calc((100vh - 80px) / 2 + 80px);

    img {
      width: 100%;
    }
  }
}

//about以下
div.container.static_pages {
  padding-top: 0;

  .base {
    width: 100%;
    height: 100%;
    background: #fff;

    .container.circles {
      box-sizing: border-box;
      width: 100%;
      height: 100%;
    }
  }
}
