//home
h1.title_home {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@media screen and (max-width: 959px) {
  h1.title_home {
    position: fixed;
    top: calc((100vh - 80px) / 2 + 80px);

    img {
      width: 100%;
    }
  }
}

//background
div.container.static_pages {
  min-height: 100vh;
  padding: 0;

  .base {
    width: 100%;
    height: 100%;
    background: #fff;

    .container.circles {
      box-sizing: border-box;
      height: 100%;
      padding-bottom: 0;

      .circle {
        position: absolute;
        background: linear-gradient(
          180deg,
          #96deda 0%,
          #91dedbcc 16%,
          #85e0dd 32%,
          #70e2e2 49%,
          #53e6e9 66%,
          #2eebf2 83%,
          #00f1fd 100%,
          #00f2fe 100%
        );
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        border-radius: 50%;
      }

      .circle-1st {
        top: 8.26%;
        left: -22.91%;
        width: 376px;
        height: 376px;
        opacity: 0.6;
      }

      .circle-2nd {
        top: 25.59%;
        left: 25.31%;
        width: 133px;
        height: 133px;
        opacity: 0.4;
      }

      .circle-3rd {
        top: 33.72%;
        left: 50%;
        width: 41px;
        height: 41px;
        opacity: 0.2;
      }

      .circle-4th {
        top: 42.06%;
        left: 40.9%;
        width: 41px;
        height: 41px;
        opacity: 1;
      }

      .circle-5th {
        top: 45.6%;
        left: 63.2%;
        width: 41px;
        height: 41px;
        opacity: 0.35;
      }

      .circle-6th {
        top: 40.07%;
        left: 84.3%;
        width: 114px;
        height: 114px;
        opacity: 0.55;
      }

      .circle-7th {
        top: 53.08%;
        left: 17.5%;
        width: 237px;
        height: 237px;
        opacity: 0.45;
      }

      .circle-8th {
        top: 70.99%;
        left: 77.7%;
        width: 110px;
        height: 110px;
        opacity: 0.35;
      }

      .circle-9th {
        top: 84.18%;
        left: 79.3%;
        width: 105px;
        height: 105px;
        opacity: 0.55;
      }

      .circle-10th {
        top: 77.75%;
        left: 45.2%;
        width: 40px;
        height: 40px;
        opacity: 0.6;
      }

      .circle-11th {
        top: 86.35%;
        left: 59%;
        width: 40px;
        height: 40px;
        opacity: 0.1;
      }

      .circle-12th {
        top: 93.24%;
        left: 16.8%;
        width: 36px;
        height: 36px;
        opacity: 0.7;
      }
    }
  }
}

@media screen and (max-width: 959px) {
  div.container.static_pages {
    
  }
}
