.container.dynamic_pages {
  .side {
    position: fixed;
    top: 128px;
    width: 203px;

    .info_user {
      width: 100%;
      margin-bottom: 24px;
      padding: 24px 10px;
      background-color: #fff;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      border-radius: 10px;
      box-shadow: 0 3px 6px #00000029;

      .title_info {
        margin: 0 auto 16px;
      }

      .image_user {
        margin: 0 auto 16px;
      }

      .name_user {
        width: 100%;
        margin-bottom: 32px;
      }

      .links_user {
        width: fit-content;
        margin: 0 auto;

        .wrapper_link {
          .detail_link {
            .follow {
              // display: block;
              width: fit-content;
              margin: 0 4px;
            }
          }
        }

        .wrapper_link + .wrapper_link {
          margin-top: 20px;
        }
      }
    }
  }

  .container_flex {
    display: flex;
    justify-content: flex-end;
    margin-top: 48px;
    margin-bottom: 48px;

    .container_posts {
      width: 538px;

      .card_post + .card_post {
        margin-top: 24px;
      }
    }
  }
}
