<% provide(:title, "ユーザー一覧") %>
<div class="container dynamic_pages">
  <%= render template: "layouts/side" %>
  <div class="container_flex">
    <div class="container_posts">
      <%= render template: "layouts/pagenate_top" %>
      <%= render template: "layouts/card_user" %>
      <%= render template: "layouts/pagenate_bottom" %>
    </div>
  </div>
</div>
