body {
  color: #666;
  font-size: 1.8rem;
  font-family: Noto sans JP, Arial, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', Osaka, 'メイリオ', Meiryo,
    'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  line-height: 1.5;
  letter-spacing: 0.15em;
  text-align: justify;
}

h1 {
  font-weight: bold;
  font-size: 2.4rem;
  text-align: center;
}

.indent-1 {
  text-indent: 1em;
}

.paragraph {
  padding: 12px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 3px 6px #00000029;
}

.title_info {
  display: block;
  font-weight: bold;
  font-size: 1.6rem;
  letter-spacing: 0.1em;
  // width: fit-content;
  text-align: center;
}

.name_user {
  display: block;
  overflow: hidden;
  font-weight: bold;
  font-size: 1.4rem;
  letter-spacing: 0.1em;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.title_link {
  font-size: 1.4rem;
}

.detail_link {
  font-size: 1.4rem;
}

@media screen and (max-width: 559px) {
  body {
    font-size: 1.4rem;
  }

  h1 {
    font-size: 1.6rem;
  }
}
