footer {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(253, 253, 253, 0.65);
  box-shadow: 3px 0 6px #00000029;

  nav.container {
    ul {
      width: 506px;
      font-size: 1.6rem;
    }
  }

  p {
    display: flex;
    align-items: flex-end;
    height: 80px;
    padding-bottom: 8px;

    small {
      font-size: 1.2rem;
      letter-spacing: 0;
    }
  }
}

@media screen and (max-width: 959px) {
  footer {
    height: initial;

    nav.container {
      flex-direction: column;

      ul {
        flex-direction: column;
        padding: 24px 0;

        li {
          text-align: center;
        }

        li:not(:last-of-type) {
          margin-bottom: 40px;
        }
      }

      p {
        width: 100%;
        height: initial;
        padding-bottom: 12px;

        small {
          width: 100%;
          text-align: right;
        }
      }
    }
  }
}

@media screen and (max-width: 559px) {
  footer {
    nav.container {
      ul {
        width: 100%;
        padding: 40px 0;
        font-size: 1.4rem;

        li:not(:last-of-type) {
          margin-bottom: 32px;
        }
      }

      p {
        padding-bottom: 8px;

        small {
          width: 100%;
          font-size: 1rem;
          text-align: right;
        }
      }
    }
  }
}
