div.bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  min-height: 768px;
  overflow: hidden;
  background: linear-gradient(33deg, #8fd3f4 0%, #8ed5ef 24%, #8cdce3 48%, #88e8ce 73%, #84f8b1 99%, #84fab0 100%);

  img {
    height: 100%;
    object-fit: cover;
  }
}
