header,
footer {
  z-index: 100;
  width: 100%;
  height: 80px;

  nav.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;

    ul {
      display: flex;
      justify-content: space-between;

      li {
        position: relative;
      }

      li > a:nth-of-type(n)::after {
        position: absolute;
        display: block;
        height: 1px;
        background-color: #666;
        border-radius: 2px;
        opacity: 0.8;
        transition: all 0.12s ease-out;
        content: '';
      }

      li > a:nth-of-type(n):hover::after {
        width: 100%;
        margin-top: 6px;
      }
    }
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(253, 253, 253, 0.9);
  box-shadow: 0 3px 6px #00000029;

  a.logo_header {
    height: 40px;
  }

  ul {
    width: 362px;
  }
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(253, 253, 253, 0.65);
  box-shadow: 3px 0 6px #00000029;

  nav.container {
    ul {
      width: 506px;
      font-size: 1.6rem;
    }
  }

  p {
    display: flex;
    align-items: flex-end;
    height: 80px;
    padding-bottom: 8px;

    small {
      font-size: 1.2rem;
      letter-spacing: 0;
    }
  }
}
