<p>ようこそ The Trip Tip へ！</p>

<p>この度は「The Trip Tip」にユーザー登録いただきありがとうございます。</p>
<p>登録手続きは、下記認証用リンクをクリックしていただいて完了となります。</p>
<p>下記に記載のご登録メールアドレスに間違いがないか確認の上、手続きをお進め願います。</p>

<p>ご登録いただいたEメールアドレス： <%= @email %></p>
<p>認証用リンク：<%= link_to "#{confirmation_url(@resource, confirmation_token: @token)}", confirmation_url(@resource, confirmation_token: @token) %></p>


<p>※認証用リンクは、当メール送信後24時間を超過しますとセキュリティ保持のため有効期限切れとなります。<br>
  その場合は、再度最初からお手続きをお願い致します。</p>

<p>※お使いのメールソフトによってはURLが途中で改行されることがあります。<br>
  その場合は、最初の「http：//」から末尾の英数字までをブラウザに直接コピー＆ペーストしてアクセスしてください。</p>

<p>※当メールは送信専用メールアドレスから配信されています。<br>
  ご返信いただくことはできませんのでご了承ください。</p>

<p>※当メールに心当たりの無い場合は、誠に恐れ入りますが破棄して頂けますよう、よろしくお願い致します。</p>


<p>The Trip Tip ユーザー登録担当</p>
