<% if @resource.uid %>
<p>平素より「The Trip Tip」をお使いいただきありがとうございます。</p>
<p>ご依頼いただいたアカウントにつきましては、SNSによるログイン機能をご利用されておりますので、パスワードを設定する必要がございません。</p>
<p>ご利用の際は、twitterまたはFacebookの内、ご利用されているSNSでのログインを行っていただきますよう、よろしくお願いいたします。</p>


<p>※当メールは送信専用メールアドレスから配信されています。<br>
  ご返信いただくことはできませんのでご了承ください。</p>

<p>※当メールに心当たりの無い場合は、誠に恐れ入りますが破棄していただきますよう、よろしくお願い致します。</p>


<p>The Trip Tip ユーザー登録担当</p>

<% else %>
<p>平素より「The Trip Tip」をお使いいただきありがとうございます。</p>

<p>パスワードの再設定手続きは、下記リンク先から行います。</p>
<p>リンクをクリックし、手続きをお進め願います。</p>

<p><%= link_to "#{unlock_url(@resource, unlock_token: @token)}", unlock_url(@resource, unlock_token: @token) %></p>

<p>※再設定用リンクは、当メール送信後6時間を超過しますとセキュリティ保持のため有効期限切れとなります。<br>
  その場合は、再度最初からお手続きをお願い致します。</p>

<p>※お使いのメールソフトによってはURLが途中で改行されることがあります。<br>
  その場合は、最初の「http：//」から末尾の英数字までをブラウザに直接コピー＆ペーストしてアクセスしてください。</p>

<p>※当メールは送信専用メールアドレスから配信されています。<br>
  ご返信いただくことはできませんのでご了承ください。</p>

<p>※当メールに心当たりの無い場合は、誠に恐れ入りますが破棄していただきますよう、よろしくお願い致します。</p>


<p>The Trip Tip ユーザー登録担当</p>
<% end %>
