<p>平素より「The Trip Tip」をお使いいただきありがとうございます。</p>

<p>アカウントロックの解除手続きは、下記リンク先から行います。</p>
<p>リンクをクリックし、手続きをお進め願います。</p>

<p><%= link_to "#{unlock_url(@resource, unlock_token: @token)}", unlock_url(@resource, unlock_token: @token) %></p>

<p>なお、パスワードをお忘れになってしまった場合は、リンク先ページの「パスワードをお忘れですか？」からパスワードを再設定することが可能です。</p>

<p>※お使いのメールソフトによってはURLが途中で改行されることがあります。<br>
  その場合は、最初の「http：//」から末尾の英数字までをブラウザに直接コピー＆ペーストしてアクセスしてください。</p>

<p>※当メールは送信専用メールアドレスから配信されています。<br>
  ご返信いただくことはできませんのでご了承ください。</p>

<p>※当メールに心当たりの無い場合は、誠に恐れ入りますが破棄していただきますよう、よろしくお願い致します。</p>


<p>The Trip Tip ユーザー登録担当</p>
