<% provide(:title, "投稿一覧") %>
<div class="container dynamic_pages">
  <div class="container_flex center">
    <div class="container_posts">
      <%= render template: "layouts/pagenate_top" %>
      <%= render template: "layouts/card_micropost" %>
      <%= render template: "layouts/pagenate_bottom" %>
    </div>
  </div>
</div>
