<div class="wrapper_link">
  <dt class="title_link">フォロー </dt>
  <dd class="detail_link">
    <%= link_to "#{following_user_path(user)}", method: :get do %>
    -
    <span class="follow">
      <% if user.following.count == 0 %>
      0
      <% else %>
      <%= user.following.count.to_s(:delimited) %>
      <% end %>
    </span>
    users
    <% end %>
  </dd>

</div>
<div class="wrapper_link">
  <dt class="title_link">フォロワー</dt>
  <dd class="detail_link">
    <%= link_to "#{followers_user_path(user)}", method: :get do %>
    -
    <span class="follow">
      <% if user.followers.count == 0 %>
      0
      <% else %>
      <%= user.followers.count.to_s(:delimited) %>
      <% end %>
    </span>
    users
    <% end %>
  </dd>
</div>
