<footer>
  <nav class="container">
    <ul>
      <li>
        <%= link_to 'The Trip Tipについて', about_path, class: '', method: :get %>
      </li>
      <li>
        <%= link_to '利用規約', terms_of_use_path, class: '', method: :get %>
      </li>
      <li>
        <%= link_to 'プライバシーポリシー', privacy_path, class: '', method: :get %>
      </li>
    </ul>
    <p><small>&copy; 2020 The Trip Tip All rights reserved.</small></p>
  </nav>
</footer>
