<footer>
  <nav class="container">
    <ul>
      <li>
        <%= link_to 'The Trip Tipについて', '#', class: '', method: :get %>
      </li>
      <li>
        <%= link_to '利用規約', '#', class: '', method: :get %>
      </li>
      <li>
        <%= link_to 'プライバシーポリシー', '#', class: '', method: :get %>
      </li>
    </ul>
    <p><small>&copy; 2019 The Trip Tip All rights reserved.</small></p>
  </nav>
</footer>
