    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title><%= full_title(yield(:title)) %></title>
    <meta name="robots" content="noindex,nofollow" />
	<meta name="Description" content="The Trip Tipは、旅行の思い出を記録に残し、それを他のユーザーと共有することが出来るSNSです。使い方は他のSNSと同様に直感的です。これまでの旅行に関する足跡を、つぶやきとして是非投稿してみてください。">
	<meta property="og:url" content="https://the-trip-tip.herokuapp.com/" />
	<meta property="og:title" content="The Trip Tip" />
	<meta property="og:type" content="website">
	<meta property="og:description" content="The Trip Tipは、旅行の思い出を他のユーザーと共有出来るSNSです。旅行に関する足跡をつぶやいてみてください。" />
	<meta property="og:image" content="images/ogimage.png" />
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:site" content="@pentapone" />
	<meta property="og:site_name" content="The Trip Tip -旅の思い出共有SNS-" />
	<meta property="og:locale" content="ja_JP" />
	<meta property="fb:app_id" content="未登録" />
    <link rel="apple-touch-icon" href="apple-touch-icon.png" sizes="180x180">
    <meta name="application-name" content="The Trip Tip"/>
    <meta name="msapplication-square70x70logo" content="site-tile-70x70.png"/>
    <meta name="msapplication-square150x150logo" content="site-tile-150x150.png"/>
    <meta name="msapplication-wide310x150logo" content="site-tile-310x150.png"/>
    <meta name="msapplication-square310x310logo" content="310x310.png"/>
    <meta name="msapplication-TileColor" content="#FAA500"/>
    <%= favicon_link_tag('favicon.ico') %>
