    <meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title><%= full_title(yield(:title)) %></title>
    <meta name="robots" content="noindex,nofollow" />
    		<!--90字以内-->
		<meta name="Description" content="The Trip Tipは、ツアー会社を使わずに、ご自身で航空券等を手配して個人または少人数のグループで海外旅行に行く方々に向けた、旅行に必要な諸手続き・ご準備についてご相談いただけるサービスです。">
		<meta property="og:url" content="https://the-trip-tip.herokuapp.com/" />
		<meta property="og:title" content="The Trip Tip -旅の思い出共有SNS-" />
		<meta property="og:type" content="website">
    		<!--50字以内-->
		<meta property="og:description" content="Tallenge(タレンジ)!は、自身で航空券等を手配して海外旅行に行く方に向けた、諸準備についてのご相談サービスです。" />
		<meta property="og:image" content="images/ogimage.png" />
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:site" content="@pentapone" />
		<meta property="og:site_name" content="The Trip Tip -旅の思い出共有SNS-" />
		<meta property="og:locale" content="ja_JP" />
		<meta property="fb:app_id" content="appIDを入力" />
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon-180x180.png">
    <meta name="application-name" content="The Trip Tip"/>
    <meta name="msapplication-square70x70logo" content="site-tile-70x70.png"/>
    <meta name="msapplication-square150x150logo" content="site-tile-150x150.png"/>
    <meta name="msapplication-wide310x150logo" content="site-tile-310x150.png"/>
    <meta name="msapplication-square310x310logo" content="310x310.png"/>
    <meta name="msapplication-TileColor" content="#FAA500"/>
    <%= favicon_link_tag('favicon.ico') %>
